<div class="form-group">
  <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off"
  type="text" class="form-control" #pickupInput [formControl]="destinationInput">

  <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off"
  type="text" class="form-control" #pickupOutput [formControl]="destinationOutput">
</div>
<agm-map [latitude]="latitude" [longitude]="longitude" >
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    <agm-map-directions [origin]="origin" [destination]="destination"></agm-map-directions>
</agm-map>
