<div class="row">
    <div class="col-md-12 bg-secondary rounded">
        <form *ngIf="mostrarPagar"  (ngSubmit)="pagarViaje()"  class=""  #formPagos="ngForm" ngNativeValidate>
            <div class="form-group">
                <input type="text" class="form-control bg-success" [(ngModel)]="viaje" name="viajes" placeholder="Viaje a Pagar" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="pago.cantidad" name="cantidad" placeholder="Costo Final" required/>
            </div>

            <div class="form-group">
                <div class="form-control">
                    <label for="metodoPago">Metodo de Pago:</label>
                    <select class="bootstrap-select" [(ngModel)]="pago.metodo" (change)="verificarMetodo(pago.metodo)"[ngModelOptions]="{standalone: true}" required>
                        <option value="-1">Seleccione modo de pago...</option>
                        <option value="0">Efectivo</option>
                        <option value="1">Débito</option>
                        <option value="2">Crédito</option>
                    </select>
                </div>
            </div>
            <div class="form-group" *ngIf="mostrarCuentaCorriente" >
                <input type="text" class="form-control" [(ngModel)]="pago.cuenta" name="cuenta" placeholder="Cuenta Corriente" required>
            </div>
            <div class="form-group">
                <button type="submit" name="pagar" class="btn bg-primary" >Pagar</button>
            </div>
        </form>
    </div>
</div>
<div class="row text-uppercase">
    <div class="col-md-12 bg-secondary rounded">
        <table id="viajes_remisero" class="table rounded" >
            <tr>
                <th>Fecha</th>
                <th>Duracion</th>
                <th>Distancia</th>
                <th>Pago</th>
                <th>Modificar</th>
                <th>Cancelar</th>
            </tr>
            <tr>
                <td colspan="6"><div *ngIf="mostrarLoader" class="loader"></div></td>
            </tr>
            <tr  *ngFor="let viaje of arrayViajes" [ngStyle]="{'background-color': (viaje.id%2 == 0) ? '#2ECC40' : '#cfd8dc' }">
                <!-- <td>{{viaje.fechayhora | date:'dd/MM/yyyy HH:mm'}}</td> -->
                <td>{{viaje.fechayhora}}</td>
                <td>{{viaje.duracion}}</td>
                <td>{{viaje.distancia}}</td>

                <td>
                    <span *ngIf="viaje.tipo_pago==0">Efectivo</span>
                    <span *ngIf="viaje.tipo_pago==1">Débito</span>
                    <span *ngIf="viaje.tipo_pago==2">Crédito</span>
                </td>
                <td >
                    <input type="button" class="btn btn-default btn-auth" id="btnCerrar_+'viaje.id'" (click)="cerrarViaje(viaje)" value="Pagar">
                </td>
                <td>
                    <input type="button" class="btn btn-default btn-auth" name="btnCancelar_+'viaje.id'" (click)="cancelarViaje(viaje)" value="Cancelar" />
                </td>
            </tr>
        </table>
    </div>
</div>
