<div class="row">
    <!-- <angular2csv [data]="data" class="button button5" filename="arrayVehiculos" [options]="options"></angular2csv> -->

    <div class="col-md-12 bg-secondary rounded">
        <form class="" >
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="miVehiculo.marca" name="marca" placeholder="Marca" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="miVehiculo.patente" name="patente" placeholder="Patente" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="miVehiculo.ocupantes" name="ocupantes" placeholder="Ocupantes" />
            </div>
            <div class="form-group">
                <label for="fechaViaje">Habilitado:</label>
                <input type="checkbox" class=" " [(ngModel)]="miVehiculo.habilitado"  #habilitado (change)="habilitar( habilitado.checked )" name="habilitado" placeholder="Habilitado" />
            </div>
            <div class="form-control">
                <input type="radio" name="nivel" [(ngModel)]="miVehiculo.categoria" (click)="miVehiculo.categoria='0'" value="0">Standard
                <input type="radio" name="nivel" [(ngModel)]="miVehiculo.categoria" (click)="miVehiculo.categoria='1'" value="1">Confort
                <input type="radio" name="nivel" [(ngModel)]="miVehiculo.categoria" (click)="miVehiculo.categoria='2'" value="2">Premium
            </div>
            <div class="form-control">
                <label for="metodoPago">Remiseros:</label>
                <select class="bootstrap-select" [(ngModel)]="miVehiculo.usuario_id" [ngModelOptions]="{standalone: true}" required>
                    <option value="-1">Ninguno</option>
                    <option *ngFor="let c of arrayRemos" [ngValue]="c.id">{{c.username}}</option>
                </select>
            </div>
            <div class="form-group">
                <!--input type="file" name="foto" [(ngModel)]="miVehiculo.foto" /-->
                <button name="enviar" class="btn bg-primary" (click)="cargar()">Enviar</button>
                <label for="javascriptcb">Modificar:</label>
                <input #javascriptcb type="checkbox" (change)="esModificar( javascriptcb.checked )" />
            </div>
            <!--button name="modificar" (click)="modificarUsuario()">modificar</button-->
        </form>
    </div>
</div>
<div class="row">

    <div class="col-md-12 bg-secondary rounded text-uppercase">
        <div class="inner" >
            <button class="btn sm-secondary" (click)="desPdf()">Descargar PDF</button>
        </div>
            <table class="table rounded" *ngIf="mostrarLista">
                <thead>
                  <tr class="grey">
                    <th>Patente</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Ocupantes</th>
                    <th>status</th>
                    <th>Borrar</th>
                    <th>Modificar</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let vehiculo of arrayVehiculos" [ngStyle]="{'background-color': (vehiculo.ocupantes < '3') ? '#78909c' : '#cfd8dc' }">

                    <td>
                        {{vehiculo.patente}}
                    </td>
                    <td>{{vehiculo.marca}}</td>
                    <!-- <td>{{vehiculo.categoria}}</td> -->
                    <td>
                        <span *ngIf="vehiculo.categoria==0">Standard</span>
                        <span *ngIf="vehiculo.categoria==1">Confort</span>
                        <span *ngIf="vehiculo.categoria==2">Premium</span>
                    </td>
                    <td>{{vehiculo.ocupantes}}</td>
                    <td>
                        <span *ngIf="vehiculo.habilitado==1">Habilitado</span>
                        <span *ngIf="vehiculo.habilitado==0">Inhabilitado</span>
                    </td>
                    <td>
                        <div class="">
                            <button class="btn sm-secondary" name="btnBorrar+'vehiculo.ocupantes'"  (click)="borrarVehiculo(vehiculo)">Eliminar</button>
                        </div>
                    </td>
                    <td >
                        <div class="">
                            <button class="btn sm-secondary" id="btnModificar_+'vehiculo.id'" (click)="cargarObjeto(vehiculo)" >Modificar</button>
                        </div>
                    </td>
                </tr>
              </tbody>
            </table>
    </div>
</div>
