<div class="row text-uppercase">
    <div class="col-md-12 bg-secondary rounded">
        <h3 class="text-muted" >Lista de Viajes</h3>

        <!-- LA TABLA YA TIENE ESTILOS PRECARGADOS EN EL CSS -->
        <table id="customers" class="table rounded" >
            <tr>
                <th>Fecha</th>
                <th>Duracion</th>
                <th>Distancia</th>
                <th>Pago</th>
                <th>Modificar</th>
                <th>Cancelar</th>
            </tr>
            <tr>
                <td colspan="6"><div *ngIf="mostrarLoader" class="loader"></div></td>
            </tr>
            <tr  *ngFor="let viaje of arrayViajes" [ngStyle]="{'background-color': (viaje.id%2 == 0) ? '#66CCFF' : '#FF9999' }">
                <!-- <td>{{viaje.fechayhora | date:'dd/MM/yyyy HH:mm'}}</td> -->
                <td>{{viaje.fechayhora}}</td>
                <td>{{viaje.duracion}}</td>
                <td>{{viaje.distancia}}</td>
                <!-- <td>
                    <span *ngIf="viaje.nivel==0">Standard</span>
                    <span *ngIf="viaje.nivel==1">Confort</span>
                    <span *ngIf="viaje.nivel==2">Premium</span>
                </td> -->
                <td>
                    <span *ngIf="viaje.tipo_pago==0">Efectivo</span>
                    <span *ngIf="viaje.tipo_pago==1">Débito</span>
                    <span *ngIf="viaje.tipo_pago==2">Crédito</span>
                </td>
                <td >
                    <input type="button" id="btnModificar_+'viaje.id'" (click)="modificarViaje(viaje)" value="Modificar">
                </td>
                <td>
                    <input type="button" name="btnBorrar+'viaje.id'" (click)="cancelarViaje(viaje)" value="Cancelar" />
                </td>
            </tr>
        </table>
    </div>
</div>
