<div class="">
    <div class="footer">    
        <nav class="pull-left">
            <ul>
                <li ><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
                <li ><a routerLink="/viajes" routerLinkActive="active">viajes</a></li>
                <li ><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li ><a [routerLink]="[]" (click)="salir()" routerLinkActive="active">Logout</a></li>
            </ul>
        </nav>
    </div>
</div>
