select .form-control{
    height: 1em;
}

.grey {
    background-color: #f5f5f5;
    font-family: "Gill Sans", sans-serif;
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
}
