<div class="row">
    <div class="col-md-12 bg-secondary rounded">
        <form class="" >
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="miUsuario.username" name="username" placeholder="Username" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="miUsuario.email" name="email" placeholder="E-Mail" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="miUsuario.password" name="password" placeholder="Password" />
            </div>
            <div class="form-group">
                <!--select class="bootstrap-select form-group" [(ngModel)]="miUsuario.rol" [ngModelOptions]="{standalone: true}" required-->
                <select class="form-control form-control-sm" [(ngModel)]="miUsuario.rol" [ngModelOptions]="{standalone: true}" required>
                    <option value="admin" >Admin</option>
                    <option value="remisero">Remisero</option>
                    <option value="encargado">Encargado</option>
                </select>
            </div>
            <div class="form-group">
                <!--input type="file" name="foto" [(ngModel)]="miUsuario.foto" /-->
                <button name="enviar" class="btn bg-primary" (click)="cargar()">Enviar</button>
                <input #javascriptcb type="checkbox" (change)="esModificar( javascriptcb.checked )" />
            </div>
            <!--button name="modificar" (click)="modificarUsuario()">modificar</button-->
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 bg-secondary rounded text-uppercase">
        <h4 class="text-muted" >Lista de Usuarios</h4>
            <!-- LA TABLA YA TIENE ESTILOS PRECARGADOS EN EL CSS -->
            <table class="table rounded" *ngIf="mostrarLista">
                <thead>
                  <tr class="grey">
                    <th>Nombre</th>
                    <th>Mail</th>
                    <th>rol</th>
                    <th>Borrar</th>
                    <th>Modificar</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let usuario of arrayUsuarios" [ngStyle]="{'background-color': (usuario.rol == 'admin') ? '#78909c' : '#cfd8dc' }">

                    <td>{{usuario.username}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.rol}}</td>
                    <td>
                        <div class="">
                            <button class="btn sm-secondary" name="btnBorrar+'usuario.email'"  (click)="borrarUsuario(usuario)">Eliminar</button>
                        </div>
                        <!--input type="button" class="btn sm-primary" name="btnBorrar+'usuario.email'" (click)="borrarUsuario(usuario)" value="Eliminar" /-->
                    </td>
                    <td >
                        <div class="">
                            <button class="btn sm-secondary" id="btnModificar_+'usuario.id'" (click)="cargarObjeto(usuario)" >Modificar</button>
                        </div>
                        <!--input type="button" class="btn sm-primary"id="btnModificar_+'usuario.id'" (click)="cargarObjeto(usuario)" value="Modificar"-->
                    </td>
                </tr>
              </tbody>
            </table>
    </div>
</div>
