<div class="bg-secondary rounded center">
    <div class="form-group">
        <form *ngIf="!encuestaCargada"  (ngSubmit)="cargarEncuesta()" class="form-horizontal" #formTurno="ngForm" ngNativeValidate>
            <label class="control-label" for="respuesta_5">Que tal describiria la aplicación:</label>
            <div class="">
                <select class="form-control bootstrap-select " [(ngModel)]="respuesta_5" name="respuesta_5" [ngModelOptions]="{standalone: true}" required>
                    <option value="-1">Seleccione...</option>
                    <option value="0">Muy Mala</option>
                    <option value="1">Mala</option>
                    <option value="2">Buena</option>
                    <option value="1">Muy Buena</option>
                    <option value="2">Excelente</option>
                </select>
            </div>
            <label class="control-label" for="respuesta_1">¿Le agregaria algo a la aplicacion?:</label>
            <div class="">
                  <input id="respuesta_1" class="form-control" [(ngModel)]="respuesta_1" name="respuesta_1" required>
            </div>
            <label class="control-label" for="respuesta_6">¿Esta conforme con la calidad del servicio?:</label>
            <div class="">
                    <input type="radio" name="respuesta_6"  value="SI">Si
                    <input type="radio" name="respuesta_6"  value="NO">No
            </div>
            <label class="control-label" for="respuesta_2">¿Que marca de vehiculos le interesa?</label>
            <div class="">
                  <input id="respuesta_2" class="form-control" [(ngModel)]="respuesta_2" name="respuesta_2" required>
            </div>
            <label class="control-label" for="respuesta_3">¿Que musica preferiria escuchar en un viaje?</label>
            <div class="">
                  <input id="respuesta_3" class="form-control" [(ngModel)]="respuesta_3" name="respuesta_3" required>
            </div>

            <label class="control-label" for="respuesta_4">¿Habla de política mientras viaja?</label>
            <div class="">
                  <input id="respuesta_4" class="form-control" [(ngModel)]="respuesta_4" name="respuesta_4" required>
            </div>
            <label class="control-label" for="respuesta_7">¿Recomendaria la aplicacion a algún conocido?:</label>
            <div class="">
                <input type="radio" name="respuesta_7"  value="SI">Si
                <input type="radio" name="respuesta_7"  value="NO">No
                <input type="radio" name="respuesta_7"  value="NI">Tal vez
            </div>

            <label class="control-label" for="respuesta_8">¿?:</label>
            <div class="">
                <input type="checkbox" class=" " [checked]="respuesta_8" (change)="respuesta_8 = !respuesta_8" name="respuesta_8" />
            </div>
            <button type="submit" class="btn bg-primary" name="btnEncuesta" value="encuesta">Cargar Encuesta</button>
        </form>
    </div>
    <div *ngIf="encuestaCargada" >
        <p>su solicitud a sido enviada con exito.</p>
    </div>
</div>
