<div class="row">
    <div class="col-sm-12 ">
        <form class="form-horizontal"  (ngSubmit)="registrarUsuario()" #formRegistro="ngForm" ngNativeValidate>
            <div class="form-group">
                <div class="">
                    <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Email" required>
                </div>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="errorPassword" (click)="limpiarPasswords()">
                Las contraseñas no coinciden.
            </div>
            <div class="form-group">
                <div class="">
                    <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" required>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="password" class="form-control" [(ngModel)]="repassword" name="repassword" placeholder="Password" required>
                </div>
            </div>
            <div class="form-group">
                <script src='https://www.google.com/recaptcha/api.js' async defer ></script>
                <div class="col-sm-8">
                    <ngx-recaptcha2 #captchaElem
                    [size]="size"
                    [hl]="lang"
                    [theme]="theme"
                    [type]="type"
                    (expire)="handleExpire()"
                    (load)="handleLoad()"
                    (success)="handleSuccess($event)">
                    </ngx-recaptcha2>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <button type="submit" name="enviar" class="btn btn-default btn-auth" >Registrarse</button>
                </div>
            </div>
        </form>
    </div>
</div>
